@use '../../02-variables/globals' as globals;
@use '../../02-variables/mixins' as mixins;
@use '../../02-variables/palette' as palette;

.app-page-subnav-container {
  position: relative;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;

  grid-gap: 2rem;
  padding: 0;
  width: 100%;
  margin: 0 0 9rem 0;

  @include mixins.screenQuery('min', 'desktop') {
    padding: 0 4rem;
  }
}
