<a
  class="page-card"
  data-channel="ROUTE"
  data-page-id="{{pageId}}"
  data-card-id="{{cardId}}"
  data-event-prevent-default="true"
  href="/{{pageId}}/{{cardId}}/"
>
  <img class="card__image" src="{{imgUrl}}" alt="{{alt}}" />
  <div class="card__content">
    <h2 class="card__title">{{title}}</h2>
    <p class="card__meta">{{desc}}</p>
    <p class="card__meta card__meta__cta">Read More</p>
  </div>
</a>

<!--
<img src="{{imgUrl}}" alt="Placeholder card image 2" />
<div class="card-content">
  <h3>{{title}}</h3>
  <p>{{desc}}</p>
  <a
    data-channel="ROUTE"
    data-page-id="{{pageId}}"
    data-card-id="{{cardId}}"
    data-event-prevent-default="true"
    href="/{{pageId}}/{{cardId}}/"
    >Read more</a
  >
</div>
-->
