@use '../../02-variables/globals' as globals;
@use '../../02-variables/palette' as palette;

#app-main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: palette.$Neutral-050;

  &::before {
    position: relative;
    display: block;
    width: 100%;
    height: globals.$app-header-height;
    background: palette.$Primary-800;
    content: '\00a0';
  }
}
